
#vue-smart-pages-preview .resume-header {
  text-align: center;
}

#vue-smart-pages-preview .resume-header h1 {
  text-align: center;
  line-height: 1;
  margin-bottom: 8px;
}

#vue-smart-pages-preview .resume-header-item:not(.no-separator)::after {
  content: " | ";
}

/* Citations */

#vue-smart-pages-preview ul.crossref-list {
  padding-left: 1.2em;
}

#vue-smart-pages-preview li.crossref-item p {
  margin-left: 0.5em;
}

#vue-smart-pages-preview li.crossref-item::marker {
  content: attr(data-caption);
}

#vue-smart-pages-preview sup.crossref-ref {
  font-size: 100%;
  top: 0;
}

/* Dark & print mode */

.dark #vue-smart-pages-preview {
  background-color: #334155;
  color: #e5e7eb;
}

@media print {
  #vue-smart-pages-preview {
    background-color: white !important;
    color: black !important;
  }

  .dark #vue-smart-pages-preview a {
    color: black !important;
  }
}
